.poster{
  
   max-height: 250px;
   margin-right: 10px;
   
}
.row{
   margin-left: 20px;
}
.posters{
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
}
.posters::-webkit-scrollbar{
   display: none;
}
.smallposter{
   max-height: 150px;
   margin-right: 10px;

}