.poster{
  
   max-height: 250px;
   margin-right: 10px;
   cursor: pointer;
   
}
.poster:hover{
   transform: scale(1.1);
}
.row{
   margin-left: 20px;
}
.posters{
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
   
}
.posters::-webkit-scrollbar{
   display: none;
}
.smallposter{
   max-height: 150px;
   margin-right: 10px;
   cursor: pointer;

}
.smallposter:hover{
   transform: scale(1.2);
}

.vedio{
padding-top: 30px;
}