.post{
   padding-top: 50px;
   max-height: 250px;
   margin-right: 10px;
   
}
.row{
   margin-left: 20px;
}
.posters{
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
}
.posters::-webkit-scrollbar{
   display: none;
}